@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --bgColor: #0a2647;
  --textColor: rgb(255, 255, 255);
  --green: rgb(96, 154, 63);
  --textColor2: black;
}

* {
  border: none;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
/* Navbar */
nav {
  width: 100vw;
  position: fixed;
  top: -1%;
  left: 0;
  right: 0;
  z-index: 999;
  /* background-color: var(--bgColor); */
}
.navbar.scrolActive {
  background-color: white;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid var(--bgColor);
  border-radius: 0 0 10px 10px;
}
nav .container {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .container a h1 {
  font-size: 24px;
  font-weight: 750;
  color: var(--textColor2);
}

nav .container .nav-menu {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav .container .nav-menu a {
  color: var(--textColor2);
  font-size: 14px;
  transition: 0.3s ease-in-out;
}
nav .container .nav-menu a:hover {
  transform: translateY(-5px);
}
nav .container .nav-btn-menu {
  display: flex;
  gap: 10px;
}
nav .container .nav-btn-menu a {
  color: var(--textColor);
  padding: 3px 20px;
  background-color: var(--bgColor);
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
nav .container .nav-btn-menu a:hover {
  color: var(--secondary);
  background-color: var(--green);
}
nav .container .hamburger-menu {
  display: none;
  cursor: pointer;
}
/* Navbar */

/* Hero */
#hero {
  margin-top: 60px;
  width: 100%;
  background-color: var(--bgColor);
  color: var(--textColor);
  margin-bottom: 50px;
}
#hero .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero .container .col-1 {
  width: 50%;
  padding: 20px 0;
}

#hero .container .col-1 h1 {
  margin-bottom: 10px;
  font-size: 48px;
}

#hero .container .col-1 p {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 300;
}

#hero .container .col-1 p span {
  font-size: 24px;
  font-weight: 700;
}

#hero .container .col-1 button {
  padding: 5px 30px;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--green);
  font-weight: 600;
  color: var(--textColor);
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
#hero .container .col-1 button:hover {
  background-color: #fff;
  color: var(--bgColor);
}
#hero .container .col-2 {
  transition: 0.7s ease-in;
}
/* Hero */
/* Product */
#product {
  width: 100%;
  margin: 50px 0;
}
#product .information h1 {
  text-align: center;
  font-size: 40px;
}
#product .information P {
  text-align: center;
  width: 50%;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#product .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#product .container .col {
  width: 30%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#product .container .col .text {
  padding: 0 20px;
}
#product .container .col .text h1 {
  color: var(--textColor);
  font-size: 24px;
}
#product .container .col .text p {
  color: var(--textColor);
  font-size: 12px;
}
#product .container .col .text button {
  padding: 3px 10px;
  background-color: var(--green);
  font-size: 16px;
  border-radius: 10px;
  margin-top: 20px;
  color: var(--textColor);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#product .container .col .text button:hover {
  background-color: #fff;
  color: var(--bgColor);
}
#product .info {
  width: 50%;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
/* Product */
/* Store */
#store {
  width: 100%;
  margin: 50px 0;
  background-color: var(--bgColor);
  color: var(--textColor);
  padding: 30px 0;
}
#store .container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#store .information h1 {
  text-align: center;
  font-size: 38px;
}
#store .information P {
  text-align: center;
  width: 50%;
  font-size: 14px;
  margin: 0 auto;
}
#store .container .col {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--textColor);
  color: var(--bgColor);
  padding: 20px 10px;
  border-radius: 10px;
}
#store .container .col .img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#store .container .col h6 {
  background-color: var(--green);
  width: 100%;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  color: var(--textColor);
}
#store .container .col .cta {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--bgColor);
  color: var(--textColor);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
}
#store .container .col .cta:hover {
  background-color: var(--green);
  color: var(--bgColor);
}
#store .container .col .cardinfo p {
  text-align: start;
  font-size: 14px;
}
#store .container .col .cardinfo h5 {
  text-decoration: line-through;
  color: red;
}
#store .info {
  width: 50%;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
#store .info span {
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: underline;
}
/* Store */
/* Customize */
#customize {
  width: 100%;
  margin: 50px 0;
}
#customize .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#customize .information h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 40px;
}
#customize .information P {
  text-align: center;
  width: 50%;
  font-size: 14px;
  margin: 0 auto;
}
#customize .container {
  display: flex;
  margin: 50px auto;
  width: 80%;
  justify-content: space-between;
  flex-wrap: wrap;
}
#customize .container .col {
  width: 48%;
}
#customize .container .col .img {
  border: 2px solid #0a2647;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  padding: 20px 0;
  background-color: var(--green);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.4s ease-in-out;
}
#customize .container .col .list {
  display: flex;
  margin: 10px 0;
  gap: 10px;
}
#customize .container .col .list img {
  border: 2px solid #0a2647;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 10px;
}
#customize .container .col .form {
  margin: 50px 0;
}
#customize .container .col .input-card {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bgColor);
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#customize .container .col .input-card input {
  padding: 5px 10px;
  font-size: 14px;
  width: 100%;
  background-color: var(--bgColor);
  color: #fff;
}
#customize .container .col .cta {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--green);
  color: var(--bgColor);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 50%;
  transition: 0.3s ease-in-out;
}
#customize .container .col .cta:hover {
  background-color: var(--bgColor);
  color: var(--green);
}
/* Customize */
/* Contact */
#contact {
  width: 100%;
  margin-top: 50px;
  color: black;
}
#contact .information h1 {
  text-align: center;
  padding-top: 40px;
}
#contact .information P {
  text-align: center;
  width: 50%;
  font-size: 14px;
  margin: 0 auto;
}
#contact .container {
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
#contact .container .col {
  width: 49%;
}
.contact .information h1 {
  font-size: 38px;
}
#contact .container .col .input-card {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--bgColor);
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#contact .container .col .input-card input {
  padding: 5px 10px;
  font-size: 14px;
  width: 100%;
  background-color: var(--bgColor);
  color: #fff;
}
#contact .container .col .textarea-card {
  width: 100%;
  display: flex;
  background-color: var(--bgColor);
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
#contact .container .col .textarea-card textarea {
  padding: 5px 10px;
  font-size: 14px;
  width: 100%;
  background-color: var(--bgColor);
  color: #fff;
  height: 100px;
}
#contact .container .col button {
  width: 50%;
  margin-top: 20px;
  padding: 5px 20px;
  font-size: 16px;
  background-color: var(--green);
  color: var(--textColor);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-bottom: 20px;
}
#contact .container .col button:hover {
  background-color: var(--bgColor);
}
#contact .container .col .maps {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#contact .container .col .sosial-media .sosmed-akun {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
/* Contact */
/* Footer */
#footer {
  width: 100%;
  color: var(--textColor);
  background-color: var(--bgColor);
}
#footer .container {
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
#footer .container .col {
  width: 22%;
}
#footer .container .col .sosial-media {
  margin-top: 10px;
}
#footer .container .col .sosial-media .sosmed-akun {
  display: flex;
  gap: 10px;
}
#footer .container .col .menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#footer .container .col .menu a {
  color: #fff;
  font-size: 12px;
}
#footer .copyright {
  border-top: 1px solid #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
#footer .copyright p {
  margin: 10px 0;
}
/* Footer */

/* Responsive */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 65%;
  }
  nav .container,
  #contact .container,
  #hero .container,
  #product .container {
    width: 90%;
    flex-wrap: wrap;
    gap: 10px;
  }
  #hero .container .col-1 {
    width: 49%;
    padding-bottom: 70px;
  }
  #hero .container .col-2 {
    width: 49%;
    display: flex;
    justify-content: center;
  }
  #product .information h1 {
    font-size: 40px;
  }
  #product .container .col {
    width: 32%;
  }
  #product .container .col img {
    width: 100px;
  }
  #store .container .col {
    width: 30%;
    margin-bottom: 20px;
  }
  #contact .container .col {
    width: 49%;
  }
  #contact .container .col .maps {
    width: 100%;
    height: 300px;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  #hero .container,
  #contact .container,
  #product .container,
  #footer .container,
  #customize .container {
    width: 90%;
    flex-wrap: wrap;
    gap: 10px;
  }
  #hero .container .col-1 {
    order: 2;
    width: 100%;
    padding-bottom: 70px;
  }
  #hero .container .col-2 {
    order: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contact .information h1,
  #product .information h1 {
    font-size: 40px;
  }
  #product .container .col {
    width: 100%;
  }
  #store .container .col {
    width: 48%;
    margin-bottom: 20px;
  }
  #store .container .col p {
    font-size: 10px;
  }
  #contact .container .col {
    width: 100%;
  }
  #customize .container .col {
    width: 100%;
    margin: 30px 0;
  }
  #review .information P,
  #customize .information P,
  #store .information p,
  #product .information P,
  #product .info,
  #contact .information P {
    width: 90%;
  }
  #contact .container .col .input-card {
    width: 100%;
  }
  #footer .container .col {
    width: 100%;
  }

  /* Navbar */
  nav .container .hamburger-menu {
    display: inline-block;
  }
  nav .container .nav-menu {
    margin-top: 60px;
    position: absolute;
    top: 8%;
    right: -100%;
    background-color: var(--textColor);
    width: 28rem;
    height: 100vh;
    flex-direction: column;
    padding: 20px 0 0 20px;
    align-items: start;
    transition: 0.3s ease-in-out;
  }
  nav .container .nav-menu.active {
    right: 0;
  }
}
/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
